@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

.container {
  min-height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.desc {
  margin: 2rem 0;
  text-align: center;
}

i {
  color: gray;
}

svg {
  max-width: 20rem;
  margin-bottom: 3rem;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
}

label[for="fileType"] {
  padding: 0 1rem;
}

input[type="url"] {
  margin-left: 1rem;
}
input[type="submit"] {
  border: none;
  background-color: green;
  margin-top: 1rem;
  padding: 0.25rem 0.75rem;
  font-size: 1.1rem;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}
